.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: start;
}

.pl-15 {
    padding-left: 15px;
}

.color-green {
    color: #09B451;
}